html { background-color: black; color: white; margin: 0;}
html, body { padding: 0; }
body { margin-top: 0; margin-bottom: 0; 
       font-family: 'Nimbus Sans', Helvetica, Arial, sans-serif; }

h1, p { font: inherit; margin: 0; padding: 0; }
h1 { margin-bottom: 0.25em; }
p { margin-bottom: 0.5em; }
h1 { text-align: center; font-size: 2em; font-weight: bold; }
h1, strong, a, a:visited, a:hover { color: #fe57a1; } 
strong, a, a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }

.job-type { height: 3.5em; margin-top: 2em; }
.job-type > a {
  color: white;
  font-weight: bold;
  background-color: #fe57a1;
  text-align: center;

  height: 1.25em;
  padding-top: 0.75em;
  padding-bottom: 1em;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;

  padding-right: 20px;
  padding-left: 20px;
  margin-left: 40px;
  margin-right: 40px;
  width: 160px;
}

.error { text-align: center; color: #57feb3; font-size: 3em;
         font-weight: bold; text-decoration: underline; }

label, input { margin: 0; padding: 0; display: block; }
label { margin-bottom: 0.5em; }

body { width: 440px; margin-left: auto; margin-right: auto; }
textarea, input[type=text], input[type=email], select { width: 100%; margin-bottom: 1.5em; }
select { width: 50%; }
textarea { height: 14em; }
input[type=submit] { width: 80px; margin-left: auto; margin-right: auto; }
